version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
        cargo-dependencies:
          patterns:
            - "*"
    commit-message:
      prefix: "chore"
      include: "scope"
